<!-- Extend the base template -->
{% extends 'global_templates/base.html' %}

<!-- Load static files tag -->
{% load static %}

<!-- Set the title of the page to "Tools" -->
{% block title %} Tools {% endblock %}

<!-- Start the content block -->
{% block content %}

<!-- Include the global navigation bar -->

{% include 'global_templates/global_navbar.html' %}

<!-- Section for displaying tool details -->
<section id="product-page-detail" class="product-page-detail">
    <!-- Heading for the large items section -->
    <h1 id="explore">All Large Items</h1>

    <!-- Form for searching large items -->
    <form id="search-form" class="search-form">
        <!-- Container for the search input and clear button -->
        <div class="search-input-container">
            <!-- Search input field -->
            <input type="text" id="search-input" class="search-input" placeholder="Search large items...">
            <!-- Button to clear the search input -->
            <button type="button" id="clear-button" class="clear-button" aria-label="Clear search">&times;</button>
        </div>
        <!-- Submit button for the search form -->
        <button type="submit" class="search-button">
            <!-- Search icon -->
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <!-- Circle in the search icon -->
                <circle cx="11" cy="11" r="8"></circle>
                <!-- Line in the search icon -->
                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
        </button>
    </form>

    <!-- Message displayed when no courses match the search query for live searching and redirect client back -->
    <p id="no-results-message" class="no-results-message">No large items found:
        <a href="{% url 'large_items:large_items' %}"> Go back</a>
    </p>

    <!-- Container for the large items -->
    <div id="large-items-container" class="product-page-detail-grid">

        <!-- Check Availability of large items and loop through them -->
        {% if large_items %}
        <!-- Loop through each large item -->
        {% for large_item in large_items %}
        <!-- Large item card with data attributes for title and description -->
        <div class="product-page-detail-card" data-title="{{ large_item.title }}"
             data-description="{{ large_item.description }}">
            <!-- Image of the tool -->
            <img class="product-page-detail-image" src="{{ large_item.image.url }}" alt="Large Item Image">
            <!-- Title of the tool -->
            <h3 class="product-page-detail-title">{{ large_item.title }}</h3>

            <!-- Check if price is available and render it -->
            {% if large_item.price %}
            <!-- Display the price of the tool -->
            <span class="product-page-detail-price">{{ large_item.price }}</span>
            {% endif %}
            <!-- Description of the tool -->
            <p class="product-page-detail-description">{{ large_item.description }}</p>
            <!-- Link to get the tool -->
            <a href="{{ large_item.affiliate_link }}" class="product-page-detail-link">Get it now</a>

        </div>
        <!-- End loop -->
        {% endfor %}
        <!-- End if condition -->
        {% endif %}
    </div>
</section>

<!-- Include the global footer -->
{% include 'global_templates/global_footer.html' %}

<!-- Link to the JavaScript file large_items.js -->
<script src="{% static 'js/large_items.js' %}"></script>

<!-- End the content block -->
{% endblock %}
